
<div class="row" style="padding: 0;">
  <div class="col-lg-6 col-md-6 col-sm-12 identify">
    <span class="glyphicon glyphicon-camera"></span>
    <p>
      <%= link_to "识别人脸", recognize_users_path%>
    </p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 register">
    <span class="glyphicon glyphicon-user"></span>
    <p>
      <%= link_to "注册人脸", new_user_path%>
    </p>
  </div>
</div>