/* line 6, /Users/liteng/code/ruby/FindFace/app/assets/stylesheets/main.scss */
.identify, .register {
  height: 250px;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
}

/* line 13, /Users/liteng/code/ruby/FindFace/app/assets/stylesheets/main.scss */
.identify {
  background-color: greenyellow;
}

/* line 17, /Users/liteng/code/ruby/FindFace/app/assets/stylesheets/main.scss */
.register {
  background-color: lightblue;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

